<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPL98cna2X04bdZy2degZlWyXC-cJcQAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>756706863472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muzaksfood.app</string>
	<key>PROJECT_ID</key>
	<string>themuzaksfood</string>
	<key>STORAGE_BUCKET</key>
	<string>themuzaksfood.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756706863472:ios:547d83e7e4411e4b4087b5</string>
</dict>
</plist>